/*全ページ共通タイトル部分*/
.main {
  background-color: #e4e4e4;
  margin: 60px 6vw;
  padding: 60px 6vw;
}

.title_main {
  color: black;
  font-size: 48px;
  margin: 12px 0;
}
.title_sub {
  color: black;
  font-size: 26px;
  font-weight: bold;
}
/*全ページ共通タイトル部分　ここまで*/


.main_content {
  color: #555555;
  font-size: 18px;
  line-height: 30px;
  width: 90%;
  margin: 100px auto 100px;
  padding: 60px 6vw;
}
.policy_sentence_title {
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
}